* {
    font-family: 'Epilogue', sans-serif; 
    margin: 0;  
    padding: 0;
}

header {
    background-color: #055866;
    max-width: 1440px;
    min-height: 853px;
    padding-top: 10px;
    margin: 0 auto;
    width: -webkit-fill-available;
}

.header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 59px;
    max-width: 100vw;
    margin: 20px 80px;
}

.header-content {
    min-height: 610px;
    max-width: 1280px;
    margin: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.header-content-right {
    min-height: 610px;
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content-left {
    /* min-height: 610px; */
    max-width: 40vw;
}

.header-image {
    /* height: 610x; */
    max-width: 100%; 
}

.header-h1 {
    background: #055866;
    width: max-content;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.header-h1-image {
    height: 32px;
    width: 32px;
    border-radius: 11px;
    font-family: 'Roboto Mono', sans-serif;
    margin-right: 10px;
}

.header-h1-text {
    /* margin-top: 50px; */
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 71px;
    color: #FFFFFF;

}

.header-p-text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #FFFFFF;
}

.nav-container {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.nav-list {
    width: 470px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-li-item a {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-li-item a:hover {
    text-decoration: underline;
}

.header-button {
    display: flex;
    border-radius: 30px;
    padding: 10px 20px;
    justify-content: center;
    height: 69px;
    width: 205px;
    align-items: center;

}

.header-button:hover {
    background-color: #C0C0C0;
    cursor: pointer;
}

.header-button-text {
    height: 26px;
    width: 95px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.header-button-envelope {
    height: 24px;
    width: 24px;
    padding-left: 10px;
}

.header-achieve {
    height: 64px;
    width: 627px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-p2-image {
    height: 64px;
    width: 64px; 
}

.header-achieve-content {
    height: 64px;
    width: 563px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-p2-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.header-achieve-content-links {
    height: 23px;
    width: 278px;   
    display: flex;
    flex-direction: row;
}

.header-p2-link {
    padding-right: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


.About {
    max-width: 1440px;
    min-height: 500px;
    margin: 0 auto;
}

.About-content {
    max-width: 1280px;
    min-height: 400px;
    margin: 100px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: -webkit-fill-available;
}

.article-about-header {
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #9C92A3;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    margin: 40px 80px;
}

.about-left-frame {
    max-width: 30vw;
    margin-right: 50px;
    display: flex;
    flex-direction: column; 
}

.about-left-frame-review {
    min-height: 252px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 112px;
}

.stars {
    max-width: 170px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.about-review {
    font-size: 19px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 27px;
    padding-top: 15px;
    color: #000000;
}

.reviewer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    max-width: 100%;
    min-height: 74px;
}

.reviewer-info-foto {
    width: 61px;
    height: 61px;
    margin-right: 24px;
}

.reviewer-info-text {
    display: flex;
    flex-direction: column; 
}

.reviewer-info-p1 {
    margin-top: 10px;
    width: max-content;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.reviewer-info-p2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 23px;
    color: #000000;
}

.about-right-frame {
    max-width: 60vw;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.about-right-frame-h4 {
    font-weight: 400;
    font-size: 47px;
    line-height: 52px;
    margin: 0px 12px;
    color: #000000;
}

.about-achievements {
    min-height: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-achievements-numbers {
    min-height: 59px;
    max-width: 100%;
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    font-size: 59px;
    line-height: 64px;
    color: #9C92A3;
}

.about-achievements-text {
    min-height: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #000000;
}

.about-achievements-p {
    min-height: 30px;
    max-width: 230px;
    margin-right: 10px;
}

.about-achievements-icons {
    min-height: 60px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work {
    max-width: 1440px;
    min-height: 2506px;
    margin: 0 auto;
}

.articles {
    max-width: 1280px;
    min-height: 2161px;
    margin: 128px 80px 135px;
    align-items: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-work-header {
    height: 10px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #9C92A3;
}

.work-h4 {
    max-width: 698px;
    max-height: 132px;
    margin-left: 80px;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    margin-top: 50px;
    color: #000000;
}

.work-articles-block {
    width: 600px;
    height: 640px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.work-articles-block-text {
    width: 600px;
    height: 135px; 
}

.about-image {
    width: 600px;
    height: 505px;
}

.About-this-h5 {
    height: 30px;
    width: 303px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.About-this-arrow {
    width: 28px;
    height: 28px;
}

.button-work {
    width: 600px;
    height: 505px;
    background-color: #9C92A3; 
    }

.button-work:hover {
    background-color: #d9d4dd;
    cursor: pointer;
    }

    .button-work-text {
        font-weight: 700;
        font-size: 36px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #0B3142;
        text-decoration: none;
    }

    .article-services-header {
        height: 10px;
        margin: 0px 80px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #services-sec {
        max-width: 1440px;
        min-height: 870px;
        background-color: #0B3142;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .services {
        max-width: 1280px;
        min-height: 582px;
        margin: 144px 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .subtitle {
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        max-width: 352px;
        margin-bottom: 30px;
    }

    .services__item {
        height: 283px;
        width: 352px;
    }

    .services__item-icon {
        width: 56px;
        height: 56px;
        display: block;
        margin-bottom: 20px;
    }

    .services-h5 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
    }

    .services-p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    .services-button {
        height: 69px;
        width: 272px;
        border-radius: 30px;
        margin-top: 50px;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }

    .services-button:hover {
        background-color: #DCDCDC;
        cursor: pointer;
    }

    .services-button-waves {
        width: 168px;
        height: 44px;
        margin-top: 34px;
        padding-left: 150px;
    }

    .blog-section {
        max-width: 1440px;
        min-height: 1330px;
        margin: 0 auto;
        width: -webkit-fill-available;
    }

    .blog {
        min-height: 1330px;
        max-width: 1280px;
        margin: 20px 80px;
    }
    
    .blog-header {
        height: 10px;
        margin-top: 100px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #9C92A3;
    }

    .blog-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .blog-title-p {
        max-width: 631px;
        font-weight: 400;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: 1.2px;
        color: #000000;
    }

    .blog-title-button {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: 69px;
        width: 272px;
        border-radius: 30px;
        border-style: none;
        margin-top: 31px;
        background-color: #9C92A3;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
    }

    .blog-title-button:hover {
        background-color: #cdc3d6;
        cursor: pointer;
    }

    .blog-articles {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        min-height: 960px;
        margin-top: 80px;
    }

    .blog-news-articles {
        min-height: 288px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--light-grey-color);
    }

    .blog-news-images {
        width: 30%;
        height: 241px;
        background-color: #D9D9D9;
    }

    .blog-news-articles-data {
        min-height: 240px;
        width: 50%;
        margin-left: 40px;
}

    .blog-news-h5 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #9C92A3;
    }

    .blog-news-h6 {
        margin-top: 19px;
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
    }

    .blog-news-p {
        margin-top: 23px;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        color: #000000;
    }

    .blog-news-articles__link {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        height: 36px;
        align-content: normal;
        align-items: baseline;
        max-width: 132px;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        color: #9C92A3;
    }

    .blog-news-articles__link:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #908399;
    }
    
    .footer {
        max-width: 1440px;
        height: 750px;
        background-color: #0B3142;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .footer-content {
        height: 582px;
        max-width: 1280px;
        padding-top: 100px;
        margin-left: 80px;
    }

    .footer-nav-item {
        height: 10px;
        /* margin: 0px 80px; */
        padding-bottom: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }

    .footer-running-string-content {
        color: #D8D8EB;
        padding: 24px 80px;
        font-size: 60px;
        line-height: 66px;
        width: 100%;
        white-space: nowrap;
        animation: footer-running-string 4.5s infinite linear;
        margin-inline-start: 80px;
    }

    .footer-running-string{
        display: flex;
        align-items: center;
        background: #0B3142;
        overflow: hidden;
        /* margin-inline-start: 80px; */
    }


    .footer-running-string-content:after{
        content: "Have something in mind?  Let's connect.  Have something in mind?  Let's connect.  Have something in mind?  Let's connect.  Have something in mind?  Let's connect.  Have something in mind?  Let's connect.";
        margin-inline-start: 80px;
    }

    @keyframes footer-running-string{
        0% {
            transform: translateX(0)
        }
        100% {
            transform: translateX(-50%)
        }
    }

    .footer-links {
        margin: 110px 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer-mail {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
    }
 
    .footer-navigation {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
    }

    #footer-nav {
        list-style-type: none;
    }

    .footer-subscribe {
        height: 91px;
        width: 460px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-subscibtion__input-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 16px;
    }

    .footer-subscibtion__input {
        height: 48px;
        width: 290px;
        border-radius: 24px;
        background: transparent;
        border: 1px solid #fff6;
    }

    .footer-subscibtion__button {
        height: 48px;
        width: 300px;
        border-radius: 24px;
        background: #9C92A3;
        border: 1px solid #fff6;
        color: #FFFFFF;
    }

    .footer-line {
        margin: 0px 80px;
        height: 1px;
        max-width: 100%;
        top: 274px;
        background: #FFFFFF33;
    }

    .modalwin { 
        height: 230px;  
        width: 300px;
        border: 3px solid white; 
        background: #055866;
        right: 0px;
        left: 0px;
        font-size: 12px; 
        margin: 0 auto;
        z-index: 2;
        display: none;
        position: fixed;
        top: 30%;
        padding: 15px;
        color: white;
        font-family: 'Epilogue', sans-serif; 
    }
    #shadow { 
        position: fixed;
        width:100%;
        height:100%;
        z-index: 1;
        background:#000;
        opacity: 0.5;
        left:0;
        top:0;
    }

    .window-form-subsribtion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .window-form-input {
        margin-top: 10px;
        padding: 5px;
        width: 200px;
    }

    .window-form-button {
        margin-top: 25px;
        width: 80px;
        padding: 7px;
        font-family: 'Epilogue', sans-serif;
        font-size: 12px;
        font-weight: bold;
        background-color: #9C92A3;
        color: white;
        border-radius: 20px;
        border: 1px solid #9C92A3;
    }

    .window-form-button:hover {
        background-color: #CEC2D6;
        cursor: pointer;
    }

    .footer-cb {
        height: 24px;
        width: 403px;
        margin: 38px 1220px 58px 109px;
    }

    .footer-cb-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    @media (max-width : 375px) {

    header {
        min-height: 100vh;
    }

    .header-navigation {
        margin: 20px;
    }

    .header-h1 {
        font-size: 10px;
    }

    .header-h1-image {
        height: 16px;
        width: 16px;
        border-radius: 3px;
    }

    .nav-container {
        width: 100%;
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;

    }

    .nav-li-item a {
        font-size: 13px;
    }

.header-content{
    margin: 20px;
}
.header-content-left {
    visibility: hidden;
}

.header-content-right {
    max-width: 100%;

}

.header-button {
    border-radius: 20px;
    height: 50px;

}

.header-h1-text {
    font-size: 40px;
    line-height: 40px;
    margin-top: 50px;
}


.header-achieve {
    width: 100%;
    margin-bottom: 20px;
}

.header-p2-text {
    font-size: 12px;
    line-height: 26px;
    color: #FFFFFF;
}

.header-p2-link {
    font-size: 10px;
}

.About {
    width: 100%;
}

.About-content {
    width: 90%;
    margin: 20px;
    flex-direction: column-reverse;
}
.article-about-header {
    margin: 40px 20px;
}

.about-right-frame {
    max-width: 90vw;
    min-height: 200px;
}
.about-right-frame-h4 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 700;
    margin: 0px
}

.about-achievements-numbers {
    margin-top: 40px;
}

.about-achievements-text {
    font-size: 16px;
    line-height: 25px;
}

.about-left-frame {
    max-width: 90vw;
}

.about-left-frame-review {
    margin-top: 40px;

}
.about-review {
    font-size: 14px;
}

.reviewer-info {
    max-width: 80%;
    flex-wrap: nowrap;
}

.article-work-header {
    max-width: 100vw;
    margin: 60px 20px;
}

.work-h4 {
    max-width: 100vw;
    margin: 0px 20px;
    min-height: 132px;
    font-size: 40px;
    line-height: 40px;
    }

    .articles {
        max-width: 100vw;
        min-height: 100vh;
        margin: 20px;
    }

.work-articles-block, .work-articles-block-text, .about-image {
    width: 100%;
    height: 80%;
}


.button-work {
    width: 100%; 
    height: 40vw;
}

.button-work-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
}

.work-articles-block {
    margin: 30px 0px;
}

.About-this-h5{
    margin: 10px 0px;
}

.article-services-header {
    width: 100vw;
    margin: 30px 20px;
    padding-top: 40px;
}

.services {
    max-width: 100vw;
    margin: 20px;
}

.subtitle {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 50px;
}

.services__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 20px 60px 0px;
    height: 150px;
}

.services-h5 {
    font-size: 20px;
    line-height: 30px;
}
.services-p {
    font-size: 14px;
    line-height: 24px;
}
.services-button {
    margin-top: 20px;
    width: 205px;
    height: 50px;
}

.blog {
    margin: 0px 20px;
}

.blog-header {
    margin-top: 50px;
}

.blog-title {
    flex-direction: column;
}

.blog-title-p {
    max-width: 100vw;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1.2px;
}

.blog-title-button {
    height: 50px;
    width: 205px;
    font-size: 16px;
    margin-left: 60px;
}

.blog-news-images {
    width: 100%;
}

.blog-news-articles-data {
    min-height: 150px;
    width: 100%;
    margin-left: 0px;
}

.blog-news-h5, .blog-news-h6, .blog-news-p {
    margin-top: 15px;
}

.blog-news-articles__link {
    margin: 15px 0px 30px 220px;
    text-decoration: underline;
}

.footer {
    height: 80vh;
}

.footer-content {
    padding-top: 50px;
    margin-left: 20px;
    height: 75%;
}

.footer-running-string{
    visibility: hidden;
}

.footer-links {
    margin: -80px 20px 0px 10px;
    flex-wrap: wrap;
    width: 80vw
}
.footer-mail, .footer-navigation {
    font-size: 16px;
}

.footer-subscribe {
    width: 100vw;
    margin-top: 50px;
    font-size: 15px;
}

.footer-subscibtion__button {
    width: 250px;
}
.footer-line {
    top: 174px;
}

.footer-line {
    margin: 0px 20px;
}

.footer-cb {
    width: 100%;
}

.footer-cb-text {
    font-size: 12px;
    line-height: 20px;
}
}
